// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #0064B1;
$darkPrimary: #0064B1;
$hover: #ccc;
$secondary: #F3E4A7;
$gray: #ccc;
$white: #ffffff;;
$warning: #e0a800;
$danger: #f7786b;
$textBlue: #007bff;