// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #5841D7;
$darkPrimary: #0064B1;
$hover: #ccc;
// $secondary: #F3E4A7;
$secondary: #BF97F2;
$gray: #ccc;
$white: #ffffff;;
// $warning: #e0a800;
$warning: #2F80ED;
$danger: #f7786b;
$textBlue: #007bff;